body {
    font-family: "Georgia","Times New Roman",Times,serif;
    color: #333333;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #efeeee;
}

header {
    background-color: grey;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 0;  
    text-align: center; 
}

p {
    float: right;
}

.container {
    margin: 0 auto;
}

#main-bio {
    display: inline-block;
    width: 50%;
    margin: 25px
}
#contact-info{
    float: right;
    width: 25%;
}

#bio-image {
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
    text-indent: 25px;
}